<div class="currency-converter">
  Type in amount and select currency: <input type="text" name="fname" placeholder="0.00"><br/>
  Converted amount: <input type="text" name="lname" placeholder="0.00"><br />
  <input type="submit" value="Submit">
</div>