.list-inline > li:first-child {
    padding-left: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-croshair {
    cursor: crosshair;
}

.cursor-eresize {
    cursor: e-resize;
}

.cursor-move {
    cursor: move;
}

.opacity-50 {
	@include opacity(0.50);
}